# LOL
hyLdwJ/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/

# Tests
/tests/
requirements-dev.txt
.pytest_cache/

# Environment
# .env

# Other
README.md
*.example.yaml
